.tac {
    text-align: center;
}

.header {
    background-color: rgb(190, 174, 153);
    direction: rtl;
    padding: 10px 20px;
}

body {
    margin: 0;
}

th,
td {
    border: 1px solid;
    padding: 5px 10px;
}

table {
    border: 1px solid;
    border-collapse: collapse;
}